<%- include('partials/header') %>

   
<section class="min-h-screen bg-gradient-to-b from-black via-purple-900 to-black text-white px-6 py-16">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <h2 class="text-3xl font-extrabold text-center text-gray-300 mb-8 animate__animated animate__fadeInUp">Meus Certificados</h2>
        
        
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8">
          <!-- Certificado 1 -->
          <div class="bg-[#1f1f23] p-6 rounded-lg shadow-lg hover:bg-purple-800 transition duration-300">
            <img src="/certificado.png" alt="Certificado 1" class="w-full h-48 object-cover rounded-lg mb-4">
            <h3 class="text-xl font-semibold text-white">Certificado de Participação</h3>
            <p class="text-gray-400 mt-2">Certificado de participação do evento Palestra deCODE SXSW 2024.</p>
            <a href="/certificado.png" target="_blank" class="text-blue-500 mt-4 block hover:underline">
              Ver Detalhes
            </a>
          </div>
               
          <!-- Certificado 2 -->
          <div class="bg-[#1f1f23] p-6 rounded-lg shadow-lg hover:bg-purple-800 transition duration-300">
            <img src="/certificado1.png" alt="Certificado 2" class="w-full h-48 object-cover rounded-lg mb-4">
            <h3 class="text-xl font-semibold text-white">Certificado de Fundamentos de TI</h3>
            <p class="text-gray-400 mt-2">Curso completo de Fundamentos de TI: Hardware e Software.</p>
            <a href="/certificado1.png" target="_blank" class="text-blue-500 mt-4 block hover:underline">
              Ver Detalhes
            </a>
          </div>
  
          <!-- Certificado 3 -->
          <div class="bg-[#1f1f23] p-6 rounded-lg shadow-lg hover:bg-purple-800 transition duration-300">
            <img src="/certificado2.png" alt="Certificado 3" class="w-full h-48 object-cover rounded-lg mb-4">
            <h3 class="text-xl font-semibold text-white">Certificado de Python</h3>
            <p class="text-gray-400 mt-2">Curso de linguagem de programação Python básico.</p>
            <a href="/certificado2.png" target="_blank" class="text-blue-500 mt-4 block hover:underline">
              Ver Detalhes
            </a>
          </div>
  
          <!-- Certificado 4 -->
          <div class="bg-[#1f1f23] p-6 rounded-lg shadow-lg hover:bg-purple-800 transition duration-300">
            <img src="/certificado3.png" alt="Certificado 4" class="w-full h-48 object-cover rounded-lg mb-4">
            <h3 class="text-xl font-semibold text-white">Certificado de IA</h3>
            <p class="text-gray-400 mt-2">Curso de Inteligência Artificial e o Novo Contexto da Cultura Digital.</p>
            <a href="/certificado3.png" target="_blank" class="text-blue-500 mt-4 block hover:underline">
              Ver Detalhes
            </a>
          </div>
  
          <!-- Certificado 5 -->
          <div class="bg-[#1f1f23] p-6 rounded-lg shadow-lg hover:bg-purple-800 transition duration-300">
            <img src="/certificado4.png" alt="Certificado 5" class="w-full h-48 object-cover rounded-lg mb-4">
            <h3 class="text-xl font-semibold text-white">Certificado de Banco de Dados</h3>
            <p class="text-gray-400 mt-2">Aprofundamento em Banco de Dados.</p>
            <a href="/certificado4.png" target="_blank" class="text-blue-500 mt-4 block hover:underline">
              Ver Detalhes
            </a>
          </div>
  
          <!-- Certificado 6 -->
          <div class="bg-[#1f1f23] p-6 rounded-lg shadow-lg hover:bg-purple-800 transition duration-300">
            <img src="/certificado5.png" alt="Certificado 6" class="w-full h-48 object-cover rounded-lg mb-4">
            <h3 class="text-xl font-semibold text-white">Certificado de Participação</h3>
            <p class="text-gray-400 mt-2">Participação no evento Sciense e Business Connection.</p>
            <a href="/certificado5.png" target="_blank" class="text-blue-500 mt-4 block hover:underline">
              Ver Detalhes
            </a>
          </div>
        </div>

</section>
<%- include('partials/footer') %>