<%- include('partials/header')%>

<section>
   


    <div class="max-w-6xl mx-auto px-6 py-12">

        <h2 class="text-4xl md:text-5xl font-bold text-center mb-20 z-10 relative animate__animated animate__fadeInUp">
            Meus <span class="text-purple-400">Projetos</span> em Destaque
        </h2>

        <!-- Projeto 1 - IdScan -->
    <div class="flex flex-col md:flex-row items-center gap-6 mb-12 bg-[#1a1a1a] border-l-8 border-green-500 rounded-2xl p-4 shadow-lg z-10 relative hover:scale-[1.02] transition-transform duration-300 animate__animated animate__fadeIn hover:border-border-green-500 hover:shadow-xl hover:ring-4 hover:ring-purple-300 ">
        <img src="/logosemfundo_IDScan.png" alt="IdScan App" class="w-40 md:w-48 rounded-xl object-cover shadow-md">
        <div class="text-center md:text-left">
          <h3 class="text-xl font-bold text-green-400 mb-4">IdScan</h3>
          <p class="text-gray-300 mb-4">
            IdScan é um aplicativo de processamento de imagens de documentos de identidade (RG), feito sem o uso de APIs externas. Ele realiza a digitalização, extração e organização dos dados, armazenando as informações em um banco de dados MySQL local.
          </p>
        </div>
      </div>
    
      <!-- Projeto 2 - Mestre Ágil -->
        
            <div class="flex flex-col md:flex-row-reverse items-center gap-6 mb-12 bg-[#1a1a1a] border-l-8 border-blue-500 rounded-2xl p-4 shadow-lg z-10 relative hover:scale-[1.02] transition-transform duration-300 animate__animated animate__fadeIn hover:border-teal-500 hover:shadow-xl hover:ring-4 hover:ring-purple-300">
                <img src="/logo.png" alt="Mestre Ágil" class="w-40 md:w-48 rounded-xl object-cover shadow-md">
                <div class="text-center md:text-left">
                <h3 class="text-xl font-bold text-blue-400 mb-4">Mestre Ágil</h3>
                <p class="text-gray-300 mb-4">
                    "Mestre Ágil" é uma plataforma educacional interativa voltada para o ensino da metodologia SCRUM. Ela combina conteúdo didático com ferramentas práticas, simulando o uso real de artefatos e cerimônias do SCRUM.
                </p>
                </div>
            </div>
         
      
      <div class="flex flex-col md:flex-row items-center gap-6 mb-12 bg-[#1a1a1a] border-l-8 border-yellow-500 rounded-2xl p-4 shadow-lg z-10 relative hover:scale-[1.02] transition-transform duration-300 animate__animated animate__fadeIn hover:border-orange-500 hover:shadow-xl hover:ring-4 hover:ring-purple-300">
        <img src="/logo (1).png" alt="IdScan App" class="w-40 md:w-48 rounded-xl object-cover shadow-md">
        <div class="text-center md:text-left">
          <h3 class="text-xl font-bold text-yellow-400 mb-4">Castanhas Brasil</h3>
          <p class="text-gray-300 mb-4">
            Castanhas Brasil é uma loja online especializada na venda de castanhas-de-caju de alta qualidade, com uma variedade de opções, como castanhas assadas, torradas, caramelizadas com coco e caramelizadas com gergelim. O site proporciona uma experiência de compra simples e segura, com foco em qualidade, sabor e frescor. Ideal para quem busca um lanche saudável ou ingredientes diferenciados para suas receitas, a Castanhas Brasil oferece uma entrega rápida e atendimento personalizado, garantindo satisfação em cada compra.
          </p>
        </div>
      </div>
  
    </div>
    
    
  
    
  
  </section>
  
  
  
<%- include('partials/footer')%>